{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>Dagens Lag</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
</head>


<body>
    <div class="navigation"><a href="{% url 'nojs_games' %}">< home</a></div>
    <div class="navigation"><a href="{% url 'nojs_players' %}">player list ></a></div>

        <div class="game">
            
            <h1>{{ game.date }} - {{ game.type }}</h1>
            
            {% if game.team_0.all or game.team_1.all %}
            
                <h2>Winner: Team {{ game.winning_team }}</h2>
                
                <div class="team_tables">
                    <div class="team_table">
                        <table>
                        <th>Team 0</th>
                        {% for player in game.team_0.all %}
                            <tr><td><a href="{% url 'nojs_player' id=player.nickname %}">{{ player }}</a></td></tr>
                        {% endfor %}
                        </table>
                    </div>
                    
                    <div class="team_table">
                        <table>
                        <th>Team 1</th>
                        {% for player in game.team_1.all %}
                            <tr><td><a href="{% url 'nojs_player' id=player.nickname %}">{{ player }}</a></td></tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            
            {% else %}
            
                <div class="team_table">
                    <table>
                    <th>Signed up players ({{ game.signups.all.count }})</th>
                    {% for player in game.signups.all %}
                        <tr><td><a href="{% url 'nojs_player' id=player.nickname %}">{{ player }}</a></td></tr>
                    {% endfor %}
                    </table>
                </div>
                
                
                
            {% endif %}
            
            <div class="game_id">{{ game.id }}</div>
            
        </div>

</body>
</html>
