{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>Dagens Lag</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
</head>

<body>
    <div class="navigation"><a class="button" href="{% url 'nojs_games' %}">< home</a><a class="button" href="{% url 'nojs_players' %}">< player list</a></div>

    <div class="card">
        <h1>{{ player }}</h1>
        <div>Games played: {{ player.stats.total.games_played }}</div>
        <div>Games won: {{ player.stats.total.games_won }}</div>
        <div>Win ratio: {{ player.stats.total.win_ratio }}%</div>
    </div>
</body>
</html>
