{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>Dagens Lag</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
</head>


<body>
    <div class="navigation"><a class="button" href="{% url 'nojs_games' %}">< home</a></div>

    <div class="card">
        <h1>Player list ({% now "Y" %})</h1>
        <form action="{% url 'nojs_teams' %}" method="get">
            <table>
            <th>Player</th>
            
            {% for gametype in gametypes %}
                <th>{{ gametype.capitalize }}</th>
            {% endfor %}
            
            <th>Select</th>
            {% for player in players %}
                
                    <tr>
                        <td>
                            <a href="{% url 'nojs_player' id=player.nickname %}">{{ player }}</a>
                        </td>
                    
                            {% for stats in player.stats %}
                                
                                {% if stats.games_played > 0 %}
                                    <td>{{ stats.win_ratio }}% ({{ stats.games_won  }}/{{ stats.games_played }})</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            
                            {% endfor %}
                        
                        <td>
                            <input class="cb_{{ player.nickname }}" type="checkbox" name="players" value="{{ player.nickname }}" />
                        </td>
                        
                    </tr>
                
            
                
            {% endfor %}
            
            
            </table>
            <input type="submit" value="Generate teams" />
        </form>
    </div>
</body>
</html>
