{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>Dagens Lag</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
</head>


<body>
    <div class="navigation"><a class="button" href="{% url 'nojs_games' %}">< home</a><a class="button" href="{% url 'nojs_players' %}?{% for player in selected %}selected={{ player }}&{% endfor %}">< player list</a></div>

    <div class="card">
        <h1>Teams for today</h1>
        {% for team in teams %}
            <div class="team_table">
                <table>
                    <th>Players</th><th>{{ team.stats.win_ratio }}% ({{ team.stats.games_won  }}/{{ team.stats.games_played }})</th>
                    {% for player in team.players %}
                        <tr>
                            <td><a href="{% url 'nojs_player' id=player.nickname %}">{{ player }}</a></td>
                            
                            {% if player.stats.total.games_played > 0 %}
                                <td>{{ player.stats.total.win_ratio }}% ({{ player.stats.total.games_won  }}/{{ player.stats.total.games_played }})</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>
