body {
    background-color: rgba(0,0,0,.2);
    font-family: 'Roboto Condensed', 'Droid Sans', arial, sans-serif;
}

h1 {
    text-decoration: underline;
}

.navigation {
    float: left;
}

.button {
    background: rgba(245,245,245,1);
    text-align: center;
    
    padding: 0.2em 0.5em;
    border: 1px solid rgba(150,150,150,1);

    text-decoration: none;
    color: rgba(0,0,0,1);
}

.button:hover {
    background: rgba(225,225,225,1);
}

.card {
    min-width: 20%;
    max-width: 45%;

    padding: 1em 2em;
    margin: 1em auto;
    
    background-color: rgba(255,255,255,1);
    box-shadow: 0 4px 2px rgba(0,0,0,0.08);
}

.game_id {
    margin-top: 2em;
    color: rgba(225,225,225,1);
}

table, form {
    margin: 1em 0.2em;
}

table {
    border: 1px solid rgba(150,150,150,1);
}

tr:nth-child(even) {
    background: rgba(245,245,245,1);
}

td {
    border: 1px solid rgba(150,150,150,1);
    padding: 0.1em 0.2em;
}

.team_table {
    display: inline-block;
}

.loader {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 2px solid rgba(150,150,150,1);
    border-top-color: rgba(22,22,220,1);
    border-radius: 50%;
    -webkit-animation: spin 1.0s linear infinite;
    animation: spin 1.0s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
