<div class="navigation"><a class="button" href="#/players">player list ></a></div>
    
<div ng-show="loading" class="card">
    <div class="loader"></div>
    <p>Loading...</p>
</div>
    
<div ng-repeat="game in games" class="card">
    <h1>{{ game.date }} - {{ game.type }}</h1>
        
    <div ng-show="game.team_0.length" class="team_tables">
        <h2>Winner: Team {{ game.winning_team }}</h2>
        <div class="team_table">
            <table>
            <th>Team 0</th>
                <tr ng-repeat="player in game.team_0"><td><a href="#/player/{{ player.nickname }}"#>{{ player.name }}</a></td></tr>
            </table>
        </div>
        
        <div class="team_table">
            <table>
            <th>Team 1</th>
                <tr ng-repeat="player in game.team_1"><td><a href="#/player/{{ player.nickname }}">{{ player.name }}</a></td></tr>
            </table>
        </div>
    </div>



    <div ng-hide="game.team_0.length" class="team_table">
        <table>
        <th>Signed up players ({{ game.signups.length }})</th>
        <tr ng-repeat="player in game.signups"><td><a href="#/player/{{ player.nickname }}">{{ player.name }}</a></td></tr>
        </table>

        <form ng-submit="submit()" ng-controller="signup_controller">
            <select ng-model="player" ng-options="player as player.name for player in game.unsigned"></select>
            <button type="submit">Sign up</button>
        </form>
        <a class="button" ng-click="select_players()" ng-controller="select_controller" href="#/players">Select signed ups</a>
    </div>
    
    
        
    
    <div class="game_id">{{ game.id }}</div>

</div>
