<div class="navigation"><a class="button" href="#/">< home</a></div>

<div ng-show="loading" class="card">
    <div class="loader"></div>
    <p>Loading...</p>
</div>

<div ng-hide="loading" class="card">
    <h1>Player list ({{ year }})</h1>
    <table>
        <th>Player</th>
        <th ng-repeat="gametype in gametypes">{{ gametype }}</th>
        <th><a href="" ng-click="select_all()">Select</a></th>
        
        <tr ng-repeat="player in players | orderBy: 'stats[\'total\'].win_ratio':true">
            <td>
                <a href="#/player/{{ player.nickname }}">{{ player.name }}</a>
            </td>
        
            <td ng-repeat="gametype in gametypes">
                <span ng-show="player.stats[gametype]">{{ player.stats[gametype].win_ratio }}% ({{ player.stats[gametype].games_won }}/{{ player.stats[gametype].games_played }})</span>
                <span ng-show="!player.stats[gametype]">-</span>
            </td>
                    
            <td>
                <input type="checkbox" name="selected" ng-model="player.selected" ng-change="select_checkbox(player)" />
            </td>
            
        </tr>
    
    </table>
    <a class="button" href="#/teams">Generate teams</a>
</div>
