<div class="navigation"><a class="button" href="#/">< home</a><a class="button" href="#/players">< player list</a></div>

<div ng-show="loading" class="card">
    <div class="loader"></div>
    <p>Loading...</p>
</div>

<div ng-hide="loading" class="card">
    <h1>{{ player.name }}</h1>
    <div>Games played: {{ player.stats.total.games_played }}</div>
    <div>Games won: {{ player.stats.total.games_won }}</div>
    <div>Win ratio: {{ player.stats.total.win_ratio }}%</div>
</div>
