<div class="navigation"><a class="button" href="#/">< home</a><a class="button" href="#/players">< player list</a></div>

<div ng-show="loading" class="card">
    <div class="loader"></div>
    <p>Loading...</p>
</div>

<div ng-hide="loading" class="card">
    <h1>Teams for today</h1>
    <div class="team_tables">
        <div class="team_table" ng-repeat="team in teams">
            <table>
                <th>Players</th><th>{{ team.stats.win_ratio }}% ({{ team.stats.games_won  }}/{{ team.stats.games_played }})</th>
                <tr ng-repeat="player in team.players">
                    <td><a href="#/player/{{ player.nickname }}">{{ player.name }}</a></td>
                    <td>
                        <span ng-show="player.stats['total'].games_played">{{ player.stats['total'].win_ratio }}% ({{ player.stats['total'].games_won }}/{{ player.stats['total'].games_played }})</span>
                        <span ng-show="!player.stats['total'].games_played">-</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
